body {
}
a,a:link,a:visited
{
	font-family: 'Microsoft YaHei' sans-serif;
	text-decoration: none;
}
a:hover{
    text-decoration:none;
}
.nav,.title,.article
{
	margin: 2px auto;
}
.nav
{
	width: 985px;
	height: 40px;
	background-color: #f3f6f9;
	padding: 10px 40px;
	text-align: left;
	margin: 2px auto;
}
.nav>a
{
	font-size: 14.89px;
	float: none;
	margin: 0;
}
.nav>a:last-child{
    color:#666666;
}
.title
{
	width: 985px;
	border-bottom: 1px #eaeaea solid;
}
.title a:hover{
    color:#337ab7;
}
.mtitle
{
	width: 985px;
	font-size: 22px;
	line-height: 25px;
	margin: 27px 0 20px;
    text-align:center;
}
.ltitle
{
	width: 985px;
	font-size: 14.89px;
	line-height: 27px;
	text-align: right;
}
.ltitle>span
{
	margin: 0 0 0 28px;
}
.article
{
	width: 1000px;
	height: auto;
	margin: 40px auto 45px;
	padding: 0 12px;
	line-height: 34px;
	font-size: 16px;
	border-bottom: 1px #eaeaea solid;
}
