/*-------------------------------------------------------footer----------------------------------------------------------------*/
.footer{
    width:100%;
    background:#333333;
    position:absolute;
    left:0;
    bottom:0;
}