body {
    background:#b6b6b6;
}

.main{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width:900px;
    display:flex;
}
@media(min-width:1200px){
    .main {
        width:1000px;
    }
}
@media(min-width:1400px){
    .main {
        width:1200px;
    }
}
@media(min-width:1600px){
    .main {
        width:1400px;
    }
}


/*-------------------------------------------------------side----------------------------------------------------------------*/
.sider{
    width:13%;
    height:100%;
}
.sider>ul{
    height:100%;
    overflow-y:scroll;
    padding:0 10px;
}
.sider>ul>li{
    font-size:16px;
    
    background:#4479D4;
    height:20%;
    text-align:center;
    color:#fff;
    cursor:pointer;
}
.sider>ul>li.zw{
    cursor:default;
}
.sider>ul>li:hover:not(.zw){
    transform: scale(1.02);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    -moz-transform: scale(1.02);
    background:#5895ff;
    
}
.sider>ul>li:focus:not(.zw),.sider>ul>li:active:not(.zw),.sider>ul>li.active:not(.zw){
    background:#2C61BA;
    color:#ffd985;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    -moz-transform: scale(1.0);
}
.mainlist{
    transition:0.35s ease-in-out;
}
.newstypelist{
    position: absolute;
    top: 0;
    width:13%;
    left: 160px; 
    opacity:0;
    transition:0.38s ease-in-out;
}
.totop,.tobottom{
    background:rgba(255, 255, 255, 0.20);
    text-align:center;
    opacity:0;
    margin:0 10px;
    position:fixed;
    z-index:102;
    font-size:20px;
    color:#eeeeee;
    cursor:pointer;
    transition:0.18s ease-in-out;
}
.totop:hover, .tobottom:hover {
    background:rgba(255, 255, 255, 0.30);
}
@media(min-height:700px){
    .sider>ul>li{
        font-size:17px;
        
    }
}
@media(min-height:770px){
    .sider>ul>li{
        font-size:17px;
        
    }
}
@media(min-height:900px){
    .sider>ul>li{
        font-size:20px;
        
    }
}


/*-------------------------------------------------------content----------------------------------------------------------------*/
.content{
    position:relative;
    right:27px;
    width:87%;
    height:100%;
    background:#fff;
}
.maintop{
    height:60%;
    padding-top:10px;
}
.mainbottom{
    height:40%;
    padding:15px;
}
.lefttop,.righttop{
    height:100%;
    padding:0;
}
.pic
{
	width: 100%;
	height: 100%;
	background-color:#CCC;
    box-shadow:0px 2px 6px 0px #b2b2b2;
}
.pic>.p
{
	width: 100%;
	height: 100%;
	position: absolute;
    background-size:100% 100%;
    cursor:pointer;
}
.pic>.point
{
	width: 100%;
	background-color: hsla(0, 0%, 0%, 0.65);
	position: relative;
	z-index: 5;
	text-align: left;
}
#ti
{
    width:74%;
	font-size: 18px;
	color: white;
	padding:0 10px;
	line-height: 47px;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    transition:0.3s ease-in-out;
}

#ti:hover{
    color:#ffd985;
}
.pic>.point>.po
{
	width: 12px;
	height: 12px;
	background-color: #676c6d;
	border-radius: 50%;
	position: absolute;
	z-index: 106;
    top: 20px;
}
#po1
{
	left: 75%;
}
#po2
{
	left: 80%;
}
#po3
{
	left: 85%;
}
#po4
{
	left: 90%;
}
#po5
{
    left: 95%;
}
.shadowblock{
    width:100%;
    height:9%;
    box-shadow:0px 5px 20px 0px #aaaaaa;
    background:#4479D4;
}
.rttitle{
    width:99%;
    height:10%;
    margin:0 10px;
}
.rtcontent{
    width:99%;
    height:100%;
    border:1px solid #4479D4;
    margin:0 10px;
    box-shadow: 0px 2px 12px 0px #b2b2b2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.rtcontent>.shadowblock>a{
    display: inline-block;
    color: #ffd985;
    width: 100%;
    text-align: center;
    font-size:14px;
    line-height:24px;
}
.mainbottom>a:first-child{
    background:#4479D4;
    color: #ffd985;
    font-size:14px;
    display:block;
    width:2%;
    height:100%;
    text-align:center;
    padding:10px 0;
    float:left;
}
.hotcommont .list-group-item{
    padding:0 15px;
    height:20%;
}
.hotcommont{
    width:98%;
    height:100%;
    display:flex;
    justify-content:space-between;
}
.hotcommont > ul{
    width:33.3%;
    height:100%;
    overflow-y:auto;
}
/*.hotcommont > ul:first-child{
    border-bottom:1px solid #4479D4;
    border-right:1px solid #4479D4;
    border-bottom-right-radius:5px;
}
.hotcommont > ul:nth-child(2){
    border-top:1px solid #4479D4;
}
.hotcommont > ul:nth-child(3){
    border-bottom:1px solid #4479D4;
    border-left:1px solid #4479D4;
    border-bottom-left-radius:5px;
}*/
.typedetail{
    position:absolute;
    top:0;
    left:0;
    height:100%;
}

@media(min-height:700px){
    #ti{
        font-size: 19px;
    }
    .rtcontent>.shadowblock>a{
        font-size:14px;
        line-height:24px;
    }
    .mainbottom > a:first-child {
        font-size:13px;
    }
}
@media(min-height:770px){
    #ti{
        font-size: 20px;
    }
    .rtcontent>.shadowblock>a{
        font-size:16px;
        line-height:26px;
    }
    .mainbottom > a:first-child {
        font-size:15px;
    }
}
@media(min-height:900px){
    #ti{
        font-size: 21px;
    }
    .rtcontent>.shadowblock>a{
        font-size:18px;
        line-height:28px;
    }
    .mainbottom > a:first-child {
        font-size:18px;
    }
}

/*-------------------------------------------------------footer----------------------------------------------------------------*/
.footer{
    width:100%;
    background:#333333;
    position:absolute;
    left:0;
    bottom:0;
}


/*-------------------------------------------------------common----------------------------------------------------------------*/
a,a:link,a:visited,a:hover{
    text-decoration:none;
    font-family:'Microsoft YaHei',sans-serif;
}
li{
    list-style:none;
    font-family:'Microsoft YaHei',sans-serif;
    transition:0.18s ease-in-out;
}
.list-group-item:hover{
    background-color:#eeeeee;
}

