<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/scripts/jquery-2.0.3.min.js"></script>
    <script src="~/scripts/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
