
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}
<link href="~/CSS/index.css" rel="stylesheet" />

<div class="container">

    <div class="main">
        <div id="sider" class="sider">
            <div class="totop glyphicon glyphicon-chevron-up"></div>
            <ul class="mainlist">
                <li class="active">主页</li>
                <li id="newstypelist">新闻分类</li>
                <li>关于</li>
                <li class="zw"></li>
                <li class="zw"></li>
            </ul>
            <ul class="newstypelist">
                <li>返回</li>
                <li>社会动态</li>
                <li>金融财经</li>
                <li>激情体育</li>
                <li>科技前沿</li>
                <li>汽车资讯</li>
                <li>房产</li>
                <li>军事</li>
                <li>娱乐</li>
                <li>健康</li>
                <li>其它</li>
            </ul>
            <div class="tobottom glyphicon glyphicon-chevron-down"></div>
        </div>
        <div id="content" class="content">
            <div class="maintop col-lg-12 col-md-12">
                <div class="lefttop col-lg-6 col-md-6">
                    <div class="pic">
                        <div id="p1" class="p"></div>
                        <div id="p2" class="p"></div>
                        <div id="p3" class="p"></div>
                        <div id="p4" class="p"></div>
                        <div class="point">
                            <a id="ti">佛山市城市规划委员会会议</a>
                            <div id="po1" class="po"></div>
                            <div id="po2" class="po"></div>
                            <div id="po3" class="po"></div>
                            <div id="po4" class="po"></div>
                        </div>
                    </div>
                </div>
                <div class="righttop col-lg-6 col-md-6">

                </div>
            </div>
            <div class="mainbottom col-lg-12 col-md-12">

            </div>
        </div>
    </div>

    @RenderPage("../shared/footer.cshtml")
</div>

<script>
    $(document).ready(function () {
        $(".main").height((window.innerHeight - $(".footer").height()) * 0.7);

        $("#sider>ul>li:not(.zw)").click(function () {
            $(this).addClass("active");
            $(this).siblings("li").removeClass("active");
        });

        $("#newstypelist").click(function () {
            $(".newstypelist li").removeClass("active");
            $(".newstypelist").css("opacity", "1");
            $(".newstypelist").css("left", "0");
            $(".mainlist").css("transform", "scale(0.93)");
            //$(".newstypelist").animate({ left: 0 });
            $(".tobottom").css("opacity","1");
        });
        $(".newstypelist>li:first-child").click(function () {
            //$(".newstypelist").animate({ left: 160 });
            $(".mainlist>li:first-child").trigger("click");
            $(".newstypelist").css("left", "150px");
            $(".mainlist").css("transform", "scale(1)");
            $(".newstypelist").css("opacity", "0");
            $(".totop").css("opacity", "0");
            $(".tobottom").css("opacity", "0");
        });
        $(".totop").width($("#sider>ul>li").width());
        $(".tobottom").width($("#sider>ul>li").width());
        $(".totop").css("top", $(".main").css("margin-top"));
        $(".tobottom").css("top", $(window).height() - parseFloat($(".main").css("margin-top")) - $(".tobottom").height());
        $("#sider>ul").scroll(function () {
            var viewH = $(this).height();
            var contentH = $(this).get(0).scrollHeight;
            var scrollTop = $(this).scrollTop();
            if (scrollTop / (contentH - viewH) >= 0.95) { 
                $(".tobottom").css("opacity", "0");;
            }
            else {
                $(".tobottom").css("opacity", "1");;
            }
            if ($(this).scrollTop() != 0) {
                $(".totop").css("opacity", "1");;
            }
            else {
                $(".totop").css("opacity", "0");;
            }

        });
        $(".totop").click(function () {
            $("#sider>.newstypelist").animate({ scrollTop: $("#sider>.newstypelist").scrollTop() - 300 });
        });
        $(".tobottom").click(function () {
            $("#sider>.newstypelist").animate({ scrollTop: $("#sider>.newstypelist").scrollTop() + 300 });
        });

        var t = 0;
        var m;
        function show() {
            $("#p1,#p2,#p3,#p4").fadeOut();
            $("#po1,#po2,#po3,#po4").css("background-color", "#676c6d");

            switch (t) {
                case 0:
                    $("#p1").fadeIn();
                    $("#po1").css("background-color", "#a7b0af");
                    break;
                case 1:
                    $("#p2").fadeIn();
                    $("#po2").css("background-color", "#a7b0af");
                    break;
                case 2:
                    $("#p3").fadeIn();
                    $("#po3").css("background-color", "#a7b0af");
                    break;
                case 3:
                    $("#p4").fadeIn();
                    $("#po4").css("background-color", "#a7b0af");
                    break;
            }
            if (t >= 3) { t = 0; }
            else { t++; }
            m = setTimeout(show, 2000);
        }
        function resetTimout(n) {
            clearTimeout(n);
            show();
        }
        show();
        $("#po1").css("background-color", "#a7b0af");
        $("#po1").click(function () {
            $("#po1").css("background-color", "#a7b0af");
            $("#po2,#po3,#po4").css("background-color", "#676c6d");
            t = 0;
            resetTimout(m);
        });
        $("#po2").click(function () {
            $("#po2").css("background-color", "#a7b0af");
            $("#po1,#po3,#po4").css("background-color", "#676c6d");
            t = 1;
            resetTimout(m);
        });
        $("#po3").click(function () {
            $("#po3").css("background-color", "#a7b0af");
            $("#po1,#po2,#po4").css("background-color", "#676c6d");
            t = 2;
            resetTimout(m);
        });
        $("#po4").click(function () {
            $("#po4").css("background-color", "#a7b0af");
            $("#po1,#po2,#po3").css("background-color", "#676c6d");
            $("#ydxkz").css("color", "white");
            t = 3;
            resetTimout(m);
        });

    });
    $(window).resize(function () {
        $(".totop").width($("#sider>ul>li").width());
        $(".tobottom").width($("#sider>ul>li").width());
        $(".totop").css("top", $(".main").css("margin-top"));
        $(".tobottom").css("top", $(window).height() - parseFloat($(".main").css("margin-top")) - $(".tobottom").height());
    });


    function Switch(type) {
        switch (type) {
            case "社会动态": {
                $.ajax({
                    url: '../Manage/Picauto',
                    success: function (res) {
                        $("#pic").html(res);

                    },
                });
                break;
            }
            case "金融财经": {
                //$.ajax({
                //    url: '../Manage/Create',
                //    success: function (res) {
                //        $("#create").html(res);
                //        $("#create").fadeIn(500).siblings("div").hide();
                //    },
                //});

                break;
            }
            case "激情体育": {
                $.ajax({
                    url: '../Manage/Newsedit',
                    success: function (res) {
                        $("#newsedit").html(res);

                    },
                });
                break;
            }
            case "科技前沿": {
                $.ajax({
                    url: '../Manage/Comment',
                    success: function (res) {
                        $("#comment").html(res);

                    },
                });
                break;
            }
            case "汽车资讯": {
                $.ajax({
                    url: '../Manage/Account',
                    success: function (res) {
                        $("#account").html(res);

                    },
                });
                break;
            }
            case "房产": {
                $.ajax({
                    url: '../Manage/Account',
                    success: function (res) {
                        $("#account").html(res);

                    },
                });
                break;
            }
            case "军事": {
                $.ajax({
                    url: '../Manage/Account',
                    success: function (res) {
                        $("#account").html(res);

                    },
                });
                break;
            }
            case "娱乐": {
                $.ajax({
                    url: '../Manage/Account',
                    success: function (res) {
                        $("#account").html(res);

                    },
                });
                break;
            }
            case "健康": {
                $.ajax({
                    url: '../Manage/Account',
                    success: function (res) {
                        $("#account").html(res);

                    },
                });
                break;
            }
            case "其它": {
                $.ajax({
                    url: '../Manage/Account',
                    success: function (res) {
                        $("#account").html(res);

                    },
                });
                break;
            }
        }
    }
</script>