@using System.Data;
@{
    ViewBag.Title = "新闻网站";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}
<link rel="stylesheet" href="~/CSS/manage.css" />
<div>
    <ul class="nav nav-tabs nav-tabs2" style="position:fixed;width:100%;top:0;">
        <li class="active">
            <a>评论管理</a>
        </li>
        <li style="float:right;">
            <button id="commentmanatoback" class="btn btn-default danger" style="font-size: 20px;padding: 6px 15px;border: none;">X</button>
        </li>
        <li>
            <button class="hidden" id="deletecommentsuccessbtn" data-toggle="modal" data-target="#DeleteSuccessModal"></button>
        </li>
    </ul>
    <ul class="nav nav-tabs nav-tabs2" style="opacity:0;position: relative;z-index: -1;">
        <li class="active">
            <a>评论管理</a>
        </li>
        <li style="float:right;">
            <button id="" class="btn btn-default danger" style="font-size: 20px;padding: 6px 15px;border: none;">X</button>
        </li>
        <li>
            <button class="hidden" data-toggle="modal" data-target="#DeleteSuccessModal"></button>
        </li>
    </ul>
    <h3 style="margin: 20px 14px;height: 34px;line-height: 34px;">
        新闻标题：@((ViewData["CommentList"] as DataTable).Rows[0][4])
        @if ((ViewData["CommentList"] as DataTable).Rows[0][0].ToString() != "")
        {
            <button id="deletecomment" class="btn danger pull-right" data-toggle="modal" data-target="#DeleteModal">删除</button>
        }
    </h3>
    <div id="commentlist" class="col-lg-12">
        @if ((ViewData["CommentList"] as DataTable).Rows[0][0].ToString() != "")
            {
                foreach (DataRow dr in (ViewData["CommentList"] as DataTable).Rows)
                {
                <div class="singlecomment">
                    <p>
                        <input id="@dr["ID"]" type="checkbox" style="margin:0 10px 0 0" />@dr["COMMENT"]
                    </p>
                    <div class="bott">
                        <div class="time">@dr["CREATETIME"]</div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="nocomment">暂无评论喔</div>
        }
    </div>
</div>
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">删除</h4>
            </div>
            <div class="modal-body">是否确定删除这些评论？</div>
            <div class="modal-footer">
                <button type="button" id="suredelete" data-dismiss="modal" class="btn btn-green" autofocus>确定</button>
                <button type="button" data-dismiss="modal" class="btn btn-default" autofocus>取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    $(document).ready(function () {

        var ids = [];
        $("#commentmanatoback").click(function () {
            window.parent.$("#Comiframe").fadeOut();
            window.parent.$("#Comiframeback").fadeOut();
            window.parent.$("#Comiframe").html("");
        });
        $(".singlecomment").click(function () {
            if ($(this).children("p").children("input").attr("checked") != "checked") {
                $(this).children("p").children("input").attr("checked", "checked");
            }
            else {
                $(this).children("p").children("input").removeAttr("checked");
            }
            ids = select();
        });
        $(".singlecomment>p>input").on("change", function () {
            ids = select();
        });
        $("#deletecomment").click(function () {
            $("#deletecomment2").trigger("click");
            $("#suredelete").click(function () {
                var idsstr = "";
                for (var i = 0; i < ids.length; i++) {
                    if (idsstr == "") {
                        idsstr = ids[i];
                    }
                    else {
                        idsstr = idsstr + "," + ids[i];
                    }
                }
                $.ajax({
                    url: '@Href("~/")Manage/Commentdelete',
                    type: 'post',
                    data: { commentid: idsstr },
                    success: function (res) {
                        $("#deletecommentsuccessbtn").trigger("click");
                        $("#deletesuccessbtn").click(function () {
                            window.location.reload();
                        });
                    }
                });
            });
        });


    });
    function select() {
        var ids = [];
        $(".singlecomment>p>input").each(function () {
            if ($(this).attr("checked") == "checked") {
                ids.push($(this).attr("id"));
            }
        });
        return ids;
    }
</script>
