<link href="~/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/CSS/manage.css" rel="stylesheet" />
<link href="~/scripts/select/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-2.0.3.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/select/bootstrap-select.min.js"></script>

<div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a>新建帐号</a>
        </li>
        <li>
            <button id="accounttoback" class="btn btn5 btn-default">返回</button>
        </li>
        <li>
            <button id="submit" type="submit" class="btn btn5 btn-default pull-right">提交</button>

            <button class="hidden" id="editsuccessbtn" data-toggle="modal" data-target="#EditSuccessModal"></button>
        </li>
    </ul>
    <div id="creatediv" class="col-lg-11">
        <form id="form1" method="POST" role="form" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-lg-1 col-md-2 col-xs-3 control-label" for="username">用户名</label>
                <div class="col-lg-5 col-md-4 col-xs-3">
                    <input class="form-control" name="username" type="text" id="username" must="true" />
                </div>
                <label class="col-lg-2 col-md-2 col-xs-3 control-label" for="password">密码</label>
                <div class="col-lg-4 col-md-4 col-xs-3">
                    <input class="form-control" name="password" type="text" id="password" must="true" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 col-md-2 col-xs-3 control-label" for="authority">权限</label>
                <select id="authority" name="authority" class="selectpicker show-tick col-lg-5 col-md-4 col-xs-3" multiple data-live-search="false" data-show-content="true" data-none-selected-text="选择" data-actions-box="true" data-deselect-all-text="全不选" data-select-all-text="全选">
                    <option value="图片轮播">图片轮播</option>
                    <option value="新闻发布">新闻发布</option>
                    <option value="新闻管理">新闻管理</option>
                    <option value="评论管理">评论管理</option>
                    <option value="帐户管理">帐户管理</option>
                </select>
                <label class="col-lg-2 col-md-2 col-xs-3 control-label" for="logable">是否可登陆</label>
                <div class="col-lg-4 col-md-4 col-xs-3">
                    <select class="form-control" name="logable" id="logable">
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </div>
            </div>

            <input name="accountid" id="accountid" type="text" class="hidden" />
        </form>
    </div>
</div>
<div class="modal fade" id="EditSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">提交</h4>
            </div>
            <div class="modal-body">提交成功</div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-green" autofocus>确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    $(document).ready(function () {
        $("ul.nav.nav-tabs>li:nth-child(2)").css("margin-right", "73.9%");

        //获取ISVIEW参数
        var Request = new Object();
        Request = GetRequest();
        var ISVIEW = Request["ISVIEW"];
        var ACCOUNTID = Request["ACCOUNTID"];

        if (ISVIEW == "true") {
            $("ul.nav.nav-tabs>li>a").text("帐户编辑");
            $.ajax({
                url: '@Href("~/")Manage/AccountEdit',
                type: 'post',
                data: { ACCOUNTID: ACCOUNTID, status: "get" },
                success: function (res) {
                    $("#accountid").val(res.news[0]);
                    $("#username").val(res.news[1]);
                    $("#password").val(res.news[2]);
                    var array = [];
                    array = res.news[3].split(",");
                    $("#authority").selectpicker("val",array);
                    $("#logable").val(res.news[4]);
                }
            });
        }

        //返回
        $("#accounttoback").click(function () {
            window.parent.$("#Comiframe").fadeOut(200);
            window.parent.$("#Comiframeback").fadeOut(300);
        });

        //提交
        $("#submit").click(function () {
            var formdata = new FormData($("#form1")[0]);
            if ($("input[must='true']").val() != "") {
                if (ISVIEW == "true") {
                    $.ajax({
                        url: '@Href("~/")Manage/AccountEdit',
                        traditional: true,
                        data: formdata,
                        type: 'post',
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.msg == "success") {
                                $("#editsuccessbtn").trigger("click");
                                $("#EditSuccessModal button").click(function () {
                                    $.ajax({
                                        url: '../Manage/Account',
                                        success: function (res) {
                                            window.parent.$("#account").html(res);
                                        },
                                    });
                                    $("#accounttoback").trigger("click");
                                });
                            }
                            else {
                                alert("提交失败，错误为：" + res.msg);
                            }
                        }
                    });
                }
                else {
                    $.ajax({
                        url: '@Href("~/")Manage/Accountcreate',
                        traditional: true,
                        data: formdata,
                        type: 'post',
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.msg == "success") {
                                $("#editsuccessbtn").trigger("click");
                                $.ajax({
                                    url: '../Manage/Account',
                                    success: function (res) {
                                        window.parent.$("#account").html(res);
                                    },
                                });
                                $("#EditSuccessModal").click(function () {
                                    $("#accounttoback").trigger("click");
                                });
                            }
                            else {
                                alert("提交失败，错误为：" + res.msg);
                            }
                        }
                    });
                }
            }
            else if ($("#username[must='true']").val() == "" && $("#password[must='true']").val() == "") {
                $("#username").parent("div").append("<div class='alert alert-warning alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>用户名不能为空</div>");
                $("#password").parent("div").append("<div class='alert alert-warning alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>密码不能为空</div>");
            }
            else if ($("#username[must='true']").val() == "") {
                $("#username").parent("div").append("<div class='alert alert-warning alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>用户名不能为空</div>");
            }
            else if ($("#password[must='true']").val() == "") {
                $("#password").parent("div").append("<div class='alert alert-warning alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>密码不能为空</div>");
            }
        });
    });

    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
</script>