@{
    Layout = "../shared/_LayoutPage1.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理页面</title>
    <link href="~/CSS/manage.css" rel="stylesheet" />
</head>
<body style="background:#fafafa;">
    <script id="NR" name="content" type="text/plain">

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").width(window.innerWidth * 0.988);
            var ue = UE.getEditor('NR', { initialFrameHeight: 490 }).ready(function(){
                try {
                    setHTML(parent.newscontent);
                } catch (e) {

                }
            });
            $(window).resize(function () {
                $("body").width(window.innerWidth * 0.988);
                $("#edui1").width(window.innerWidth * 0.988);
            });
        });
        function getHTML() {
            return UE.getEditor('NR').getContent();
        }
        function setHTML(html) {
            UE.getEditor('NR').setContent(html);
        }
        window.onbeforeunload = function (e) {
            e = e || window.event;
            if (getHTML() != "") {
                // For IE and Firefox
                if (e) {
                    e.returnValue = "还有未保存的操作，是否离开当前页面？";
                }
                // For Safari
                return "还有未保存的操作，是否离开当前页面？";
            }
        }
    </script>
</body>
</html>
